@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SUIT';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* header */
header {
    background-color: #283248;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header_in {
    width: 80%;
    max-width: 1160px;
    margin: auto;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: flex;
}

.header_in img {
    display: block;
}

.header_in img {
    display: block;
}

.nav>li>a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    color: #fcfcdd;
}

.nav>li:hover>a {
    background-color: #fcfcdd;
    color: #283248;
}

.nav>li {
    position: relative;
}

/* 서브메뉴 꾸미기 */
.nav .sub_bg {
    position: absolute;
    width: 100%;
    height: 230px;
    background-color: #283248;
    left: 0;
    top: 90px;
    display: none;
}

.sub {
    width: 100%;
    height: 230px;
    background-color: #283248;
    position: absolute;
    z-index: 3;
    display: none;
}

.sub li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.sub li a:hover {
    text-decoration: underline;
}

.nav li:hover .sub a {
    color: #283248;
}
.nav li:hover .sub{
    background-color: #fcfcdd;
}

strong {
    width: 100px;
    height: 2px;
    display: inline-block;
    background-color: #283248;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -50px;
    transform: scaleX(0);
    transition: all 1s;
}

.nav li:hover strong {
    transform: scaleX(1);
}

/* main banner */
.mb {
    background: url(./images/sub_brand/main_banner.png) no-repeat center center;
    height: 846px;
    margin-top: 90px;
    text-align: center;
    color: #fff;
}

.mb h1 {
    padding: 320px 0 30px 0;
    font-size: 50px;
}

.mb h2 {
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}

/* 브랜드 비전 */
.vision {
    background: url(./images/sub_brand/vision_banner.png) no-repeat center center;
    text-align: center;
    height: 625px;
}

.vision h1 {
    font-size: 40px;
    padding: 170px 0 70px;
}

.vision h2 {
    font-size: 23px;
    line-height: 1.8;
    padding-bottom: 50px;
    font-weight: 600;
}

/* 브랜드 핵심 가치 */
.bg {
    background: url(./images/sub_brand/sub_banner.png) no-repeat center center;
    height: 760px;
    text-align: center;
}

.bg h1 {
    color: #fff;
    font-size: 40px;
    padding-top: 100px;
}

.bg ul {
    width: 1320px;
    margin: 60px auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.bg ul li {
    width: 395px;
    height: 480px;
    border-radius: 50px;
}

.bg h3,
.bg h4,
.bg p {
    opacity: 0;
}

.left {
    background: url(./images/sub_brand/flip_img1.png) no-repeat 50% 50% transparent;
    transform: rotateY(180deg);
}

.left.on {
    background: url(./images/sub_brand/icon1.png) no-repeat 50% 50% #fcfcdd;
    transform: rotateY(0deg);
    transition: all 1s 1s;
}



.left.on h3,
.left.on h4,
.left.on p {
    opacity: 1;
    transition: all 1s 1s;
}

.center {
    background: url(./images/sub_brand/flip_img2.png) no-repeat 50% 50% transparent;
    transform: rotateY(180deg);
}

.center.on {
    background: url(./images/sub_brand/icon2.png) no-repeat 50% 50% #fcfcdd;
    transform: rotateY(0deg);
    transition: all 1.3s 1.3s;
}

.center.on h3,
.center.on h4,
.center.on p {
    opacity: 1;
    transition: all 1.3s 1.3s;
}

.right {
    background: url(./images/sub_brand/flip_img3.png) no-repeat 50% 50% transparent;
    transform: rotateY(180deg);
}

.right.on {
    background: url(./images/sub_brand/icon3.png) no-repeat 50% 42% #fcfcdd;
    transform: rotateY(0deg);
    transition: all 1.6s 1.6s;
}

.right.on h3,
.right.on h4,
.right.on p {
    opacity: 1;
    transition: all 1.6s 1.6s;
}

.bg ul li h3 {
    font-size: 30px;
    padding-top: 30px;
}

.bg ul li p {
    padding-top: 275px;
}

/* 브랜드 로고 */
.logo_bg {
    background: url(./images/sub_brand/logo_banner.png) no-repeat center center;
    height: 760px;

}

.logo_bg h1 {
    color: #fff;
    text-align: center;
    padding: 85px 0 5px;
    font-size: 40px;
}

.logo_bg h5 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.logo_bg b {
    font-size: 20px;
}

.logo_text {
    width: 1316px;
    height: 495px;
    margin: 38px auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    color: #333;
}

.logo_left {
    margin: 32px 0 0 70px;
}

.logo_left h3 {
    background-color: #283248;
    color: #fff;
    border-radius: 50px;
    padding: 5px 15px;
    display: inline;
    font-weight: 500;
    margin-bottom: 50px;
}

.main_logo {
    display: block;
    padding: 22px 0 10px 140px;
}

.sub_logo {
    display: block;
    padding: 75px 69px;
}

.logo_right {
    padding-left: 50px;
}

.logo_right h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

.logo_right p {
    padding-bottom: 15px;
}

.logo_right ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
}

.box li {
    padding: 5px 15px 10px 0;
}

.box2 li {
    padding: 0 217px 0 20px;
}


/* 브랜드 연혁 */
.last {
    width: 1320px;
    margin: 50px auto 70px;
    background: url(./images/sub_brand/line.png) no-repeat 50% 100%;
    height: 2240px;
}

.last h1 {
    padding-top: 90px;
    margin: 0 0 20px;
    text-align: center;
    font-size: 40px;
}

.last ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 165px;
    margin-bottom: 112px;
}

.last .last_in {
    justify-content: flex-end;
    margin-right: 165px;
    text-align: right;
}

.last ul li h2 {
    font-size: 70px;
    font-weight: 600;
    color: #52658e;
    padding: 0 30px 0;
    line-height: 70px;
}

.last ul img {
    display: block;
}

.last p {
    font-weight: 500;
    line-height: 2;
    font-size: 18px;
}

/* 푸터 */
footer {
    background-color: #283248;
}

.footer_in {
    width: 1320px;
    margin: auto;
    color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 45px 0 40px;
}

.footer_in ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;


}

.footer_in ul li a {
    color: #fff;
    display: block;
    padding-bottom: 10px;
}

.footer_in ul li a:hover {
    color: #bbb;
    text-decoration: underline;
}

.footer_left img {
    display: block;
    padding-bottom: 25px;
}

.footer_left p {
    line-height: 2;
}

.footer_right img {
    display: inline-block;
    padding-left: 5px;
}

.footer_right img:hover {
    opacity: 0.5;
}