@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SUIT';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* header */
header {
    background-color: #283248;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header_in {
    width: 80%;
    max-width: 1160px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.header_in img {
    display: block;
}

.nav>li>a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    color: #fcfcdd;
}

.nav>li:hover>a {
    background-color: #fcfcdd;
    color: #283248;
}

.nav>li {
    position: relative;
}

/* 서브메뉴 꾸미기 */
.nav .sub_bg {
    position: absolute;
    width: 100%;
    height: 230px;
    background-color: #283248;
    left: 0;
    top: 90px;
    display: none;
}

.sub {
    width: 100%;
    height: 230px;
    background-color: #283248;
    display: none;
    position: absolute;
    z-index: 3;
}

.sub li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.sub a:hover {
    text-decoration: underline;
}

.nav li:hover .sub a {
    color: #283248;
}

.nav li:hover .sub {
    background-color: #fcfcdd;
}

strong {
    width: 100px;
    height: 2px;
    display: inline-block;
    background-color: #283248;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -50px;
    transform: scaleX(0);
    transition: all 1s;
}

.nav li:hover strong {
    transform: scaleX(1);
}

/* main banner */
.mb {
    background: url(./images/sub_franchise/main_banner.png) no-repeat center center;
    height: 834px;
    margin-top: 90px;
    text-align: center;
    color: #fff;
}

.mb h1 {
    padding: 320px 0 30px 0;
    font-size: 50px;
}

/* 창업 안내 */
.box {
    width: 1220px;
    margin: auto;
    overflow: hidden;
}

.box h1 {
    text-align: center;
    padding: 100px 0 80px;
    font-size: 40px;
}

.box_in {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 1050px;
}

.box_text {
    width: 583px;
    height: 318px;

}

.box h2 {
    font-size: 33px;
    padding-left: 7px;
    margin: 8px 0 10px;
}

.box h3 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
    line-height: 1.7;
}

.box p {
    line-height: 1.7;
}

.right {
    text-align: right;
}

.right h2 {
    padding-right: 7px;
}


.text1 {
    background: url(./images/sub_franchise/line1.png) no-repeat 0% 95%;
}

.text2 {
    background: url(./images/sub_franchise/line2.png) no-repeat 100% 95%;
}

.text3 {
    background: url(./images/sub_franchise/line3.png) no-repeat 0% 95%;
}

/* 개설절차 */
.step {
    text-align: center;
    width: 1320px;
    margin: auto;
}

.step h1 {
    font-size: 40px;
    padding: 100px 0 80px;
}

.step ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.step ul li {
    width: 440px;
    height: 270px;
    border-top: 1px dashed #ccc;
    border-left: 1px dashed #ccc;
    box-sizing: border-box;
}

.step ul li:nth-child(3n){
    border-right: 1px dashed #ccc;
}

.step ul li:nth-child(7),
.step ul li:nth-child(8),
.step ul li:nth-child(9){
    border-bottom: 1px dashed #ccc;

}
.step ul li:nth-child(1){
    background: url(./images/sub_franchise/icon1.png) no-repeat center 25px;
}
.step ul li:nth-child(1):hover{
    background: url(./images/sub_franchise/hover_icon1.png) no-repeat center 25px, url(./images/sub_franchise/bg1.png) no-repeat 0 0;
}
.step ul li:nth-child(2){
    background: url(./images/sub_franchise/icon2.png) no-repeat center 20px;
}
.step ul li:nth-child(2):hover{
    background: url(./images/sub_franchise/hover_icon2.png) no-repeat center 20px, url(./images/sub_franchise/bg2.png) no-repeat 0 0;
}
.step ul li:nth-child(3){
    background: url(./images/sub_franchise/icon3.png) no-repeat center 30px;
}
.step ul li:nth-child(3):hover{
    background: url(./images/sub_franchise/hover_icon3.png) no-repeat center 30px, url(./images/sub_franchise/bg3.png) no-repeat 0 0;
}
.step ul li:nth-child(4){
    background: url(./images/sub_franchise/icon4.png) no-repeat center 20px;
}
.step ul li:nth-child(4):hover{
    background: url(./images/sub_franchise/hover_icon4.png) no-repeat center 20px, url(./images/sub_franchise/bg4.png) no-repeat 0 0;
}
.step ul li:nth-child(5){
    background: url(./images/sub_franchise/icon5.png) no-repeat center 15px;
}
.step ul li:nth-child(5):hover{
    background: url(./images/sub_franchise/hover_icon5.png) no-repeat center 15px, url(./images/sub_franchise/bg5.png) no-repeat 0 0;
}
.step ul li:nth-child(6){
    background: url(./images/sub_franchise/icon6.png) no-repeat center 25px;
}
.step ul li:nth-child(6):hover{
    background: url(./images/sub_franchise/hover_icon6.png) no-repeat center 25px, url(./images/sub_franchise/bg6.png) no-repeat 0 0;
}
.step ul li:nth-child(7){
    background: url(./images/sub_franchise/icon7.png) no-repeat center 22px;
}
.step ul li:nth-child(7):hover{
    background: url(./images/sub_franchise/hover_icon7.png) no-repeat center 22px, url(./images/sub_franchise/bg7.png) no-repeat 0 0;
}
.step ul li:nth-child(8){
    background: url(./images/sub_franchise/icon8.png) no-repeat center 22px;
}
.step ul li:nth-child(8):hover{
    background: url(./images/sub_franchise/hover_icon8.png) no-repeat center 22px, url(./images/sub_franchise/bg8.png) no-repeat 0 0;
}
.step ul li:nth-child(9){
    background: url(./images/sub_franchise/icon9.png) no-repeat center 20px;
}
.step ul li:nth-child(9):hover{
    background: url(./images/sub_franchise/hover_icon9.png) no-repeat center 20px, url(./images/sub_franchise/bg9.png) no-repeat 0 0;
}

.step ul li h4{
    background-color: #283248;
    display: inline-block;
    color: #fff;
    border-radius: 50px;
    padding: 3px 11px 2px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 10px;
}
.step ul li h2{
    padding-bottom: 7px;
    font-size: 26px;
}
.step ul li:hover a{
    color: #fff;
}
/* 개설 비용 */
.money{
    width: 1320px;
    margin: 100px auto;
    text-align: center;
}
.money h1{
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
}
table{
    width: 1320px;
    border-collapse: collapse;
}

table th{
    font-size: 18px;
    padding: 10px 0;
    border-bottom: #888 1px solid;
}
table td{
    border-bottom: #888 1px solid;
    position: relative;
}

.color{
    background-color: #283248;
    color: #fff;
}
span{
    display: inline-block;
    width: 85px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 35%;
}



/* 푸터 */
footer {
    background-color: #283248;
}

.footer_in {
    width: 1320px;
    margin: auto;
    color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 45px 0 40px;
}

.footer_in ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;


}

.footer_in ul li a {
    color: #fff;
    display: block;
    padding-bottom: 10px;
}

.footer_in ul li a:hover {
    color: #bbb;
    text-decoration: underline;
}

.footer_left img {
    display: block;
    padding-bottom: 25px;
}

.footer_left p {
    line-height: 2;
}

.footer_right img {
    display: inline-block;
    padding-left: 5px;
}

.footer_right img:hover {
    opacity: 0.5;
}
