@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'SUIT';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

/* header */
header {
    background-color: #283248;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.header_in {
    width: 80%;
    max-width: 1160px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.header_in img {
    display: block;
}

.nav>li>a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    color: #fcfcdd;
}
.nav>li:hover>a{
    background-color: #fcfcdd;
    color: #283248;
}

.nav > li{
    position: relative;
}
/* 서브메뉴 꾸미기 */
.nav .sub_bg{
    position: absolute;
    width: 100%;
    height: 230px;
    background-color: #283248;
    left: 0;
    top: 90px;
    display: none;
}
.sub{
    width: 100%;
    height: 230px;
    background-color: #283248;
    display: none;
    position: absolute;
    z-index: 3;
}


.sub li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.sub a:hover{
    text-decoration: underline;
}

.nav li:hover .sub a{
    color: #283248;
}
.nav li:hover .sub{
  background-color: #fcfcdd;
}
strong{
    width: 100px;
    height: 2px;
    display: inline-block;
    background-color: #283248;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -50px;
    transform: scaleX(0);
    transition: all 1s;
}
.nav li:hover strong{
    transform: scaleX(1);
}

/* main banner */
.mb{
    background: url(./images/sub_community/main_banner.png) no-repeat center center;
    height: 835px;
    margin-top: 90px;
    color: #fff;
}
.mb_in{
    width: 1320px;
    margin: auto;
}

.mb h1{
    padding: 270px 0 20px;
    font-size: 50px;
}

/* event */
.event {
    width: 1320px;
    margin: auto;
}
.event h1{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
}

.event ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.event ul li {
    border: #777 solid 1px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 70px;
}

.event h5 {
    font-size: 20px;
    padding: 15px 0 35px 20px;
}

.event p {
    padding: 0 0 20px 20px;
}

.event_img {
    overflow: hidden;
}

.event_img img {
    display: block;
    transition: all 1s;
}

.event_img img:hover {
    transform: scale(1.2);
}
.end{
    background-color: #000;
    position: relative;
}
.end img{
    opacity: 0.5;
}
.end h4{
    color: #fff;
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 공지사항 */
.table{
    width: 1320px;
    margin: auto;
    text-align: center;
}
.table h1{
    font-size: 40px;
    padding: 100px 0 50px;
}
.table table{
    width: 1320px;
    border-collapse: collapse;
}
.table table th{
    font-size: 18px;
    padding: 10px 0;
    border-bottom: #888 1px solid;
}
.table table td{
    border-bottom: #888 1px solid;
    padding: 10px 0;
}
.table table tr:not(tr:nth-child(1)):hover{
    background-color: #e5e5e5;
}
.color{
    background-color: #283248;
    color: #fff;
}

/* 제휴 및 문의 */
.bottom{
    width: 1320px;
    margin: auto;
}
.bottom h1{
    font-size: 40px;
    text-align: center;
    padding: 100px 0 50px;
}
.bottom table{
    width: 1320px;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.bottom table th{
    background-color: #283248;
    color: #fff;
    border: #fff solid 1px;
    padding: 5px 10px;
}
.bottom table td{
    padding: 5px 10px;
    border-bottom: 1px solid #888;
}

.bottom table tr:nth-child(1) td, .bottom table tr:nth-child(1) th{
    border-top: solid 1px #888;
}
.ma{
    display: inline-block;
    margin-left: 10px;
}

.bottom p{
    text-align: end;
    font-size: 15px;
    margin-bottom: 50px;
}
.bottom input[type="text"], .bottom input[type="tel"], .bottom textarea, .bottom input[type="password"]{
    padding: 5px;
}

.bottom input[type="submit"]{
    border: none;
    display: inline-block;
    font-size: 18px;
    background-color: #283248;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 100px;
}
.bottom h6{
    text-align: center;
}
.bottom input[type="submit"]:hover{
    background-color: #fcfcdd;
    color: #283248;
}

/* 푸터 */
footer {
    background-color: #283248;
}

.footer_in {
    width: 1320px;
    margin: auto;
    color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 45px 0 40px;
}

.footer_in ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;


}

.footer_in ul li a {
    color: #fff;
    display: block;
    padding-bottom: 10px;
}

.footer_in ul li a:hover {
    color: #bbb;
    text-decoration: underline;
}

.footer_left img {
    display: block;
    padding-bottom: 25px;
}

.footer_left p {
    line-height: 2;
}

.footer_right img {
    display: inline-block;
    padding-left: 5px;
}

.footer_right img:hover {
    opacity: 0.5;
}